<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jassani.sms_gateway">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/logojassani"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logojassani"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.jassani.App">
        <service android:name="com.jassani.com.jassani.sms_gateway.YourBackgroundService" />
        <activity android:name="com.jassani.com.jassani.sms_gateway.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>